Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/

.vscode/

*.log
*.blend1

MemoryCaptures/
Recordings/

*.csproj
*.sln
*.user
*.pidb
*.pdb
*.mdb
*.opendb

ServerData/
Assets/StreamingAssets/aa*
Assets/AddressableAssetsData/
Assets/Addressables_Temp*

Assets/Mirror/Examples/

Crashlytics-build.properties